* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_5 {
  width: 100%;
  height: 720px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_6 {
  width: 275px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 502px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: VT323;
  font-weight: Regular;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v1_7 {
  width: 727px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 201px;
  left: 276px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Vibes;
  font-weight: Regular;
  font-size: 144px;
  opacity: 1;
  text-align: left;
}
.v1_8 {
  width: 959px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 494px;
  left: 172px;
  font-family: Vampiro One;
  font-weight: Regular;
  font-size: 144px;
  opacity: 1;
  text-align: left;
}
